{% load static %}
{% block headerinclude %}
  <!-- Links and Style (CSS) -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'RBApp/css/style.css'%}" />
	<script src="{% static 'RBApp/js/jquery.min.js' %}"></script>
	<link rel="icon" href="" />
    <title>Red Bird</title>
{% endblock headerinclude %}

{% block footerinclude %}
	<script src="{% static 'RBApp/js/bootstrap.min.js'%}"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
	<script src="{% static 'RBApp/js/custom-general.js'%}"></script>
    

    
{% endblock footerinclude %}

{% block content %}
<nav class="navbar navbar-expand-md navbar-light fixed-top bg-white"> <a class="navbar-brand" href="./index"><img src="{% static 'RBApp/img/Logos/logo.png'%}"></a>
    <button
    class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated and user.is_admin %}
                <li class="nav-item"> <a class="nav-link" href="/dashboard">Dashboard</a>
                </li>
                {% endif %}

                <li class="nav-item active"> <a class="nav-link" href="/index">Welcome<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active"> <a class="nav-link" href="#menu">Today's Menu</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/features">Features</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/contactus">Contact Us</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="/aboutus">About Us</a>
                </li>
            </ul> 

            {% if user.is_authenticated %}
            <li class="nav-item " style="list-style: none; padding-right: 20px;"> <b>Hello, {{user.first_name}}</b></li>
                <a href="/logout" class="btn btn-outline-dark">Logout</a>
            {% else %}
                <a href="/login" class="btn btn-outline-dark">Login</a>
                <a href="/signup" class="btn btn-outline-dark">Sign Up</a>
            {% endif %}
        </div>
</nav>

    
    <div class="block hero1 my-auto" style="background-image:url(https://images.unsplash.com/photo-1626645738196-c2a7c87a8f58?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80);">
            <div class="container-fluid text-center">
                 <h1 class="display-2 text-white" data-aos="fade-up" data-aos-duration="1000"
                data-aos-offset="0">Red Bird</h1>
                <p class="lead text-white" data-aos="fade-up" data-aos-duration="1000"
                data-aos-delay="600">We are closed for the moment, but we will still deliver food at your place!</p>
                <a
                href="#menu" class="btn-text lead d-inline-block text-white border-top border-bottom mt-4 pt-1 pb-1"
                data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200">View Today's Menu</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="maincontent">
            <div class="container">
             
                <section id="menu">
                    <div class="block menu1">
                        <div class="buttons-container"> 
                            <!-- <a href="#" class="button button--is-active" data-target="Originals">Originals</a> -->
                            {% for type in menutype %}
                                {% if forloop.first %}
                                    <a href="#" class="button button--is-active" data-target="{{type.name}}">{{type.name}}</a>
                                {% elif type.name == "Breakfast Meals" %} 
                                    <a href="#" class="button button--is-active" data-target="BreakfastMeals">{{type.name}}</a>
                                {% else %}
                                    <a href="#" class="button" data-target="{{type.name}}">{{type.name}}</a> 
                                {% endif %}
                                
                            {% endfor %}
            
                        </div>
                        <!-- Start Pizza Menu -->
                        
                        
                        
                        
                        
                        
                        <!-- <img class="product-img" src="/static/RBApp/img/1.Signature%20Fried%20Chicken%20Meal/1pc%20Red%20Bird%20Fried%20Chicken%20w%20Rice.jpg"> -->
                        
                        <div class="menu menu--is-visible" id="Originals" data-aos="fade-up">
                            {% for original in originals %}
                            <div class="item row align-items-center">
                                <div class="col-sm-3 pr-5"> 
                                    <img class="product-img" src="{{original.image_location}}">
                                </div>
                                <div class="details col-sm-9">
                                    <div class="item__header">
                                         <h3 class="item__title">{{original.name}}</h3>
                                        <span class="item__dots"></span>
                                        <span class="item__price">₱{{original.price}}</span>
                                    </div>
                                    <p class="item__description"> </p>
                                        <button type="submit" class="btn btn-sm btn-outline-primary my-cart-btn"
                                    data-id="1" data-name="Red Bird Fried Chicken w/ Rice (1 pc.)" data-price="15" data-quantity="1"
                                    data-image="{% static 'RBApp/img/1.Signature Fried Chicken Meal/1pc Red Bird Fried Chicken w Rice.jpg' %}">Add to cart</button>
                                    
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <!-- End Pizza Menu -->
                        <!-- Start Bundles Menu -->
                        <div class="menu " id="Bundles" data-aos="fade-up">
                            {% for bundle in bundles %}
                            <div class="item row align-items-center">
                                <div class="col-sm-3 pr-5">
                                    <img class="product-img" src="{{bundle.image_location}}">
                                </div>
                                <div class="details col-sm-9">
                                    <div class="item__header">
                                         <h3 class="item__title">{{bundle.name}}</h3>
                                        <span class="item__dots"></span>
                                        <span class="item__price">₱{{bundle.price}}</span>
                                    </div>
                                    <p class="item__description"> </p>
                                    <button class="btn btn-sm btn-outline-primary my-cart-btn"
                                    data-id="5" data-name="Red Bird Fried CHicken w/ Waffle (6 pcs.)" data-price="17" data-quantity="1"
                                    data-image="{% static 'RBApp/img/2.Crave in a Box/6pc Red Bird Fried Chicken.jpg '%}">Add to cart</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- Start Breakfast Menu -->
                        <div class="menu " id="BreakfastMeals" data-aos="fade-up">
                            {% for breakfast in breakfasts %}
                            <div class="item row align-items-center">
                                <div class="col-sm-3 pr-5">
                                    <img class="product-img" src="{{breakfast.image_location}}">
                                </div>
                                <div class="details col-sm-9">
                                    <div class="item__header">
                                         <h3 class="item__title">{{breakfast.name}}</h3>
                                        <span class="item__dots"></span>
                                        <span class="item__price">₱{{breakfast.price}}</span>
                                    </div>
                                    <p class="item__description"> </p>
                                    <button class="btn btn-sm btn-outline-primary my-cart-btn"
                                    data-id="8" data-name="Cheezy Sausage Meal" data-price="17" data-quantity="1"
                                    data-image="{% static 'RBApp/img/3.Breakfaster/Cheezy Sausage Meal.jpg '%}">Add to cart</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End Breakfast Menu -->


                        <!-- Start Beverages Menu -->
                        <div class="menu" id="Beverages" data-aos="fade-up">
                            {% for beverage in beverages %}
                            <div class="item row align-items-center">
                                <div class="col-sm-3 pr-5">
                                    <img class="product-img" src="{{beverage.image_location}}">
                                </div>
                                <div class="details col-sm-9">
                                    <div class="item__header">
                                            <h3 class="item__title">{{beverage.name}}</h3>
                                        <span class="item__dots"></span>
                                        <span class="item__price">₱{{beverage.price}}</span>
                                    </div>
                                    <p class="item__description"> </p>
                                    <button class="btn btn-sm btn-outline-primary my-cart-btn"
                                    data-id="14" data-name="Natures Spring Mineral Water" data-price="17" data-quantity="1"
                                    data-image="{% static 'RBApp/img/6.Beverages/Natures Spring Mineral Water.jpg '%}">Add to cart</button>
                                </div>
                            </div>
                            {% endfor %}
                    </div>
                        <!-- End Beverages Block -->

                        <!-- Start Dessert Menu -->
                        <div class="menu" id="Desserts" data-aos="fade-up">
                            {% for dessert in desserts %}
                            <div class="item row align-items-center">
                                <div class="col-sm-3 pr-5">
                                    <img class="product-img" src="{{dessert.image_location}}">
                                </div>
                                <div class="details col-sm-9">
                                    <div class="item__header">
                                            <h3 class="item__title">{{dessert.name}}</h3>
                                        <span class="item__dots"></span>
                                        <span class="item__price">₱{{dessert.price}}</span>
                                    </div>
                                    <p class="item__description"> </p>
                                    <button class="btn btn-sm btn-outline-primary my-cart-btn"
                                    data-id="22" data-name="Powdered Waffle" data-price="17" data-quantity="1"
                                    data-image="{% static 'RBApp/img/5.Dessert/Powdered Waffle.jpg '%}">Add to cart</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End Dessert Block -->


                          <!-- Start Extra Menu -->
                          <div class="menu" id="Extras" data-aos="fade-up">
                            {% for extra in extras %}
                            <div class="item row align-items-center">
                                <div class="col-sm-3 pr-5">
                                    <img class="product-img" src="{{extra.image_location}}">
                                </div>
                                <div class="details col-sm-9">
                                    <div class="item__header">
                                            <h3 class="item__title">{{extra.name}}</h3>
                                        <span class="item__dots"></span>
                                        <span class="item__price">₱{{extra.price}}</span>
                                    </div>
                                    <p class="item__description"> </p>
                                    <button class="btn btn-sm btn-outline-primary my-cart-btn"
                                    data-id="23" data-name="Extra Rice" data-price="17" data-quantity="1"
                                    data-image="{% static 'RBApp/img/4.Extra/Rice.jpg '%}">Add to cart</button>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <!-- End Dessert Block -->

                    </div>
                    <!-- End block -->
            
                </section>
            </div>
        </div>
              
    <script src="{% static 'RBApp/js/mycart.js'%}"></script>
    <script src="{% static 'RBApp/js/mycart-custom.js'%}"></script>
        
        <div class="nav-item my-cart-icon">
            <img src="{% static 'RBApp/img/cart.svg' %}" style="width:20px;"> <span class="badge badge-notify my-cart-badge"> </span>
        </div>
        <footer class="block footer1 footer text-center">
            <p>&copy; Gabutan, Mel Jefferson T. | Reyes, Adrian Paul N. </p>
            <p>CSIT327 F1-C1 AY 2021 - 2022</p>
        </footer>


        <script>
            AOS.init();
        </script>

       
{% endblock content %}